p{
    font-style:italic;
    font-size: 20px;
    font-family:"cursive";
    font-weight: 600;
    line-height: 50px;
}
#p1{
    background-color: yellow;
    color: blue;

}
#p2{
    background-color: rgb(2, 80, 157);
}
#p3{
    background-color: rgba(20, 50, 70, 0.91);
}
.c1{
    background-color: #0adba0;
}
